div#checkin.container-fluid
	.row.col-md-4.col-centered
		img(src="/assets/images/gl-logo.png").logo
	.row.col-md-4.col-centered.form-wrapper
		button(type="submit").btn.btn-default.btn-block CHECKIN
		button(type="submit").btn.btn-default.btn-block CHECKOUT
	.row.col-md-4.col-centered
		p.text-success.bg-success.custom-msg Thank you for volunteering!