div.signup-form
	h2.title New Volunteer Account
	form(role="form")
		.form-group
			input(type="text", for='username', placeholder="Email Address")#username.form-control
		.form-group
			input(type="password", for='password', placeholder="Choose a password")#password.form-control
			input(type="password", for='passwordConfirm', placeholder="Re-type password")#password.form-control
		.col-md-12.actions-wrapper
			button(type="submit").btn.btn-default.btn-block REGISTER