div.login-form
	h2.title Volunteer Login
	form(role="form")
		.form-group
			input(type="text", for='username', placeholder="Username", ng-model="username")#username.form-control
		.form-group
			input(type="password", for='password', placeholder="Password", ng-model="password")#password.form-control
		.col-md-12.actions-wrapper
			button(type="submit", ng-click="login()").btn.btn-default.btn-block LOGIN
			hr
			span.sign-up
				a(ui-sref='auth.signup') Already a volunteer, but need an account?
			span.reset-password
				a(ui-sref='auth.resetpassword') Forgot your password?
			span.new-volunteer
				a(href="http://www.globallinks.org/get_involved/volunteer.php") Sign up to be a Global Links volunteer
