@import "./src/client/variables.less";
@import "./src/client/base.less";

#login {
	.logo {
		width: 100%;
		margin-top: 2em;
		margin-bottom: 1em;
	}
	.title {
		padding-bottom: 0.25em;
	}
	.form-wrapper {
		background-color: @lightGray;
		border-radius: 5px;
		text-align: center;
		padding-bottom: 10px;
		button {
			background: @buttonBackgound;
			color: white;
			text-shadow: none;
			letter-spacing: 0.125em;
			width: 100%;
			margin-bottom: 5px;
		}
	}
	.actions-wrapper {
		padding-bottom: 5px;
		span {
			display: block;
			padding-bottom: 1em;
		}
		.sign-up {
			font-size: 1.15em;
			padding-bottom: 1.75em;
		}
		.reset-password {
			font-size: 0.95em;
		}
		hr {
			border-color: lighten(@gray, 50%);
		}
	}
}

