@import "./src/client/variables.less";
@import "./src/client/base.less";

#login {
	.form-wrapper {
		background-color: @lightGray;
		border-radius: 5px;
		text-align: center;

	}
	.title {
		// text-align: center;
	}
	form button {
		// display: block;
		background: @buttonBackgound;
		color: white;
		text-shadow: none;
		letter-spacing: 0.125em;
		width: 100%;
		margin-bottom: 5px;
	}
	.actions-wrapper {
		padding-bottom: 5px;
		.sign-up {
			display: block;
			font-size: 1.25em;
			padding-bottom: 1em;
		}
		.forgot-password {
			font-size: 0.95em;
		}
		hr {
			border-color: lighten(@gray, 50%);
		}
	}
}
